.body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.left-side-group {
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(160, 128, 219);
  overflow-x: hidden;
}

.right-side-group {
  height: 100%;
  width: 85%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgb(97, 211, 211);
  overflow-x: hidden;
}

.ListTitle {
  background-color: rgb(194, 187, 206);
  height: 10%;
}

.TodoList {
  height: 90%;
}
